*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-family;
}

.bg-image {
  position: absolute;
  background-size: cover;
  height: 100vh;
  width: 100%;
  filter: brightness(30%);
  z-index: -1;
}
