//global
$base-size: 12px;

// colors
$color-dark: #000;
$color-light: #fff;
$color-main: #bea67c;
$color-text-font: #464646;

// fonts
$font-family: 'Source Sans Pro', sans-serif;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;
