header img {
  // background-image: url('/src/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  width: 100%;
  filter: brightness(40%);
  z-index: -1;
}

nav {
  padding-top: $base-size * 2;
}
